.wrapper {
	position: relative;
	overflow: hidden;
}
.main {
	margin-top: 70px;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 2px 10px rgba(31, 38, 44, 0.07);
	z-index: 3;

	overflow: hidden;
}
.header__container {
	display: flex;
	justify-content: space-between;
	padding: 10px 37px;
	max-height: 70px;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__logo-link {
}
.header__logo {
	margin-right: 65px;
}
.header__address {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #c4c4c4;
	font-style: normal;
}
.header__address-icon {
	margin-right: 14px;
}
.header__contact {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__contact-link {
	margin-right: 23px;
	color: #2f3539;
}
.header__contact-link:hover {
	color: #ffbd5a;
}
.header__contact-icon {
	transition: color 0.2s;
}
.header__contact-phone {
}
.header-phone {
}
.header-phone__number {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
	text-decoration: none;
	color: #2f3539;
	transition: color 0.2s;
}
.header-phone__number:hover {
	color: #ffbd5a;
}
.header-phone__name {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;
	color: #2f3539;
}
.header__burger-btn {
	background: none;
	border: none;
	display: none;
}
.header__burger-btn:active {
	color: #ffbd5a;
}
.header__burger-logo {
}
@media (max-width: 769px) {
	.main {
		margin-top: 62px;
	}
	.header__contact,
	.header__address {
		display: none;
	}
	.header__logo {
		margin-right: 0;
		width: 140px;
		height: 40px;
	}
	.header__container {
		display: flex;
		justify-content: space-between;
		padding: 10px 37px;
		max-height: 62px;
	}
	.header__burger-btn {
		display: block;
	}
}
