.promo {
    position: relative;
    max-width: 100%;
    min-height: 790px;
    
}
.promo__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.wrapper{
    position: relative;
}
.promo_main {
    margin-top: 70px;
    margin-left: 178px;
    padding-top: 127px;
    flex-wrap: wrap;
}

.promo_title {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin: 21px 0;
}

.promo_text {
    font-size: 22px;
    color: #fff;
}

.promo_btn {
    text-transform: uppercase;
    background: #FFDB5A;
    border-radius: 40px;
    padding: 20px 90px;
    color: #35393D;
    font-size: 20px;
    font-weight: 700;
    margin-top: 42px;
    
}

.promo_btn:hover {
    background: #FFBD5A;
    transition: .5s; 
}

@media screen and (max-width: 768px) {
    .promo {
        background: none;
        background: linear-gradient(214.12deg, #97D1FF 12.37%, #0061AD 85.86%);
        min-height: 508px;
        
    }

    .promo_main {
        margin-left: 28px;
        padding-top: 36px;
        margin-top: 0;
    }

    .promo_btn {
        width: 295px;
    }

    .promo_title {
        font-size: 26px;
    }

    .promo_text {
        font-size: 1rem;
    }
}