.promo {
	position: relative;
	min-height: 720px;
}

.promo__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(214.12deg, #97d1ff 12.37%, #0061ad 85.86%);
	clip-path: polygon(0 0, 100% 0, 100% 500px, 0% 100%);
}
.promo__container {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	height: 720px;
	padding: 0 40px;
}
.promo__washer {
	position: absolute;
	right: 0;
	bottom: 0;
}
.promo__card {
	position: relative;
	color: #fff;
	max-width: 498px;
	z-index: 2;
}

.promo__title {
	margin-top: 21px;
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	letter-spacing: 0.04em;

	color: #ffffff;
}
.promo__descr {
	margin-top: 21px;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 0.04em;
}
.promo__descr--bold {
	font-weight: 700;
}
.promo__btn {
	margin-top: 61px;
	background: #ffdb5a;
	border-radius: 40px;
	padding: 20px;
	min-width: 316px;
	border: none;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #35393d;
	transition: background 0.3s, transform 0.3s;
	cursor: pointer;
}
.promo__btn:hover {
	background: #ffbd5a;
	transform: translateY(-3px);
}
.promo__btn:active {
	transform: translateY(2px);
}
.promo__polygon1 {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(-35%, 50%);
}
.promo__polygon2 {
	position: absolute;
	z-index: -1;
	transform: translate(30%, 5%);
}
@media (max-width: 1025px) {
	.promo__washer {
		transform: translateX(-5%) scale(0.8);
	}
	.promo__polygon1 {
		transform: translate(-35%, 50%) scale(0.8);
	}
	.promo__polygon2 {
		transform: translate(15%, 5%) scale(0.8);
	}
	.promo {
		min-height: 600px;
	}
}
@media (max-width: 769px) {
	.promo {
		min-height: 508px;
	}
	.promo__container {
		align-items: flex-start;
		height: 100%;
		padding: 36px 31px 73px;
	}
	.promo__washer {
		display: none;
	}
	.promo__polygon1 {
		display: none;
	}
	.promo__polygon2 {
		transform: translate(12%, -5%) scale(0.7);
	}
	.promo__bg {
		clip-path: none;
	}
	.promo__title {
		font-size: 26px;
		line-height: 32px;
	}
	.promo__descr {
		font-size: 16px;
		line-height: 20px;
	}
	.promo__title {
		margin-top: 27px;
	}
	.promo__descr {
		margin-top: 17px;
	}
	.promo__card-img {
	}
}
@media (max-width: 480px) {
	.promo__btn {
		min-width: 100%;
		margin: 42px auto 0;
		font-size: 20px;
		line-height: 24px;
	}
	.promo__polygon2 {
		display: none;
	}
}
